@import "./config";

:root {
  --background-color: #{$background-Black};
  --text-color: #{$text-White};
  --description-color: #{$description-White};
  --border-width: 1px;
  --border-hover-width: 1.5px;
}

[data-theme="light"] {
  --background-color: #{$light-background};
  --text-color: #{$light-text};
  --description-color: #{$description-Black};
  --border-width: 1.3px;
  --border-hover-width: 1.6px;
}

[data-theme="dark"] {
  --background-color: #{$background-Black};
  --text-color: #{$text-White};
  --description-color: #{$description-White};
  --border-width: 1px;
  --border-hover-width: 1.3px;
}

* {
  width: 100%;
  box-sizing: border-box;
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.app-Container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 150px;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  Header {
    grid-area: Header;
    top: 0;
  }
  main {
    color: var(--text-color);
    grid-area: Main;
    overflow: hidden;
  }

  footer {
    grid-area: Footer;
    color: var(--text-color);
  }
}
